//width
$container-base: 1150px;
$container-xl: 920px;
$container-lg: 720px;
$container-md: 540px;
$container-sm: 100%;
$container-sm-padding: 0 1rem;

//colors
$primary-color: #1b6e92;
$secondary-color: #563b18;
$success-color: rgb(38, 114, 38);
$danger-color: rgb(215, 62, 62);

$wishlist-color: red;

// $background-color: #f8f9fa;
$background-color: #fff;
$shimmer-color: #fff;
$skeleton-color: #f1f1f1;

$light-color: #ccc;
$shimmer-background-color: #aaa;
$shimmer-shine-color: #fff;
$popup-color: #f7f7f7;

//Font sizes
$font-size-xl: 2rem;
$font-size-lg: 1.5rem;
$font-size-md: 1.25rem;
$font-size-base: 1rem;
$font-size-sm: 0.85rem;
$font-size-xs: 0.75rem;

$product-aspect-ratio: 1/1;
$banner-aspect-ratio: 20/7;
$mobile-banner-ratio: 1/1;
